@font-face {
    font-family: audi-normal;
    src: url("resources/fonts/AudiType-Normal_03.ttf");
}

@font-face {
    font-family: audi-bold;
    src: url("resources/fonts/AudiType-Bold_03.ttf");
}

@keyframes animate {
    0% {
        width: 2%;
        left: 0;
    }
    100% {
        width: 100%; /* Zmenší šířku čáry zpět na původních 2% */
        left: 0; /* Posune čáru doprava o 100% */
    }
}

@keyframes animateFade {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1.2);
        opacity: 1;
    }
}
html {
    font-family: audi-normal;
    font-size: 16px;
    box-sizing: border-box;
}

#navbar {
    border: 1px solid black;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
    width: 100%;

}

.inner_navbar_content {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    /*border: 1px solid red;*/
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with low opacity */
    z-index: 2; /* Ensures it's on top of everything */
    cursor: pointer;
}
.navbar-normal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /*border: 1px solid red;*/
    align-items: center;
}
.collapsable-navbar{
    display: none;
}

#sport-links, #sustainability-links, #company-links,#careers-links,#innovation-links{
    display: none;
    flex-direction: row;
    gap: 5%;

    border: 1px solid red;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 21%;
}
#sport-links li, #sustainability-links li, #company-links li,#careers-links li,#innovation-links li{
    text-decoration: none;
    list-style-type: none;
    border: 1px solid red;
    position: relative;
}
#sport-links li a, #sustainability-links li a,  #company-links li a,#careers-links li a,#innovation-links li a{
    text-decoration: none;
    list-style-type: none;
    color: black;
    opacity: 0.7;
    font-style: normal;
    font-size: 1rem;

}
#sport-links li:hover a, #sustainability-links li:hover a,  #company-links li:hover a,#careers-links li:hover a,#innovation-links li:hover a{
    opacity: 1;
    cursor: pointer;
    font-size: 1.1rem;
}

#collapsable-links .line-linear {
    position: absolute;
    width: 100%;
    height: 3px;
    /*border: 1px solid red;*/
}

#collapsable-links li:hover .line-linear::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    animation: animate 0.7s linear  forwards;
}

.logo_audi {
    width: 100px;
    height: 60px;
    /*border: 1px solid red;*/
}

.navbar_button:hover {
    opacity: 1;
    cursor: pointer;


}

.navbar_button {
    position: relative;

    border: 0px;
    font-size: 17px;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    /*border: 1px solid red;*/
    opacity: 0.7;
    transition: 0.3s ease;
}

.navbar_button .line-linear {
    position: absolute;
    width: 80%;
    height: 3px;
    /*border: 1px solid red;*/
}

.navbar_button:hover .line-linear::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    animation: animate 0.7s linear  forwards;
}

.search-container {
    display: flex;
    flex-direction: row;
    /*border: 1px solid red;*/
    margin-left: 15%;
    /*center all items*/
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    /*border: 1px solid red;*/
    font-size: 20px;
    display: flex;
    align-items: center;
/*    5PX between the items in flex*/
    gap: 5px;


}

.search-icon {
    width: 24px; /* Set the width and height of the icon */
    height: 24px;
    fill: currentColor; /* Use the current text color as the fill color */

}

.search-button:hover .search-icon {
    fill: #4CAF50; /* Change the fill color on hover */

}

.flag {
    width: 30px;
    height: 30px;
    /*border: 1px solid red;*/
    margin-left: 5%;
    margin-right: 5%;
    /* i want a circle */
    border-radius: 50%;
}

.country-button{
    background: none;
    border: none;
    cursor: pointer;
    /*border: 1px solid red;*/
    margin-left: 5%;
}

.footbal-container{
    position: relative;
    display: flex;
    flex-direction: column;
}

.image-container{
    position: relative;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.footbal-image{
    width: 100%; /* Set the image width to 100% of the container */
    height: auto; /* Maintain aspect ratio */
    transition: transform 1s;
    filter: brightness(70%);
}
.footbal-container:hover img{
    transform: scale(1.2);
    filter: blur(0.5px);
    filter: brightness(55%);
}
.footbal-text{
    text-align: center;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    /*border: 1px solid red;*/
    color: white; /* Text color */
}
.footbal-text h1{
    font-size: 5.0rem;

}
.footbal-text h3{
    font-size: 1.5rem;
}
.footbal-button{
    border: 1px solid white;
    background: none;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 50px;
    text-decoration: none;
}

.footbal-description-h3{
/*    hide it*/
    display: none;

}
.footbal-description .footbal-button{
    display: none;
}
.footbal-button:hover{
   cursor: pointer;
    filter: brightness(70%);
    transition: transform 1s;
}
.footbal-image{

}
.footbal-description{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 0.7rem;

    /*border: 1px solid red;*/
}
.footbal-description div{
    margin-bottom:0.3%;
}

.space-div{
    height: 96px;
    /*border: 1px solid red;*/
}

.headline-centered-div{
    position: relative;
    margin: 0 auto;
    text-align: center;
    /*border: 1px solid red;*/
    padding: 0 4%;
}
.headline-centered-div h2{
    font-size: 3.0rem;
    line-height: 0.1rem;
}

.topics-container {
    position: relative;
    display: flex;
    flex-direction: row;
    /*border: 1px solid red;*/
    flex-wrap: wrap;
    margin: 0 auto;
    /*padding: 0 0%;*/

    justify-content: space-between;
    max-width: 1440px;
}

.topic{

    overflow: hidden;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    max-width: 31%;


}
.topic:hover img{
    transform: scale(1.2);
    filter: blur(0.5px);
    filter: brightness(55%);
    transition: 1s;
}

.topic-image{
    width: 100%;
    height: 262px;
    /*border: 1px solid red;*/
    object-fit: cover;
    transform(scale(1.1))
}

.topic-text{
    overflow: hidden;
}
topic-picture-description{

}
.topic-picture-description span{
    font-size: 0.7rem;
}

.topic a{
    text-decoration: none;
    color: black;
    cursor: pointer;

}
.article{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1440px;
    justify-content: space-between;
    /*border: 1px solid red;*/
}
.article-text{
    width: 48%;
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: column;
}
.article-text h3{
    font-size: 1.5rem;
    margin-bottom: 0.5%;
    font-weight: 400;
    font-style: normal;
}
.article-text p{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 4%;
    font-weight: 400;
    font-style: normal;
}
.article-text a {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    margin-left: 10%;
    border: 1px solid black;
    background: none;
    color: black;
    width: 20%;
    height: 50px;
    text-decoration: none;

}


.article-footer{
    line-height: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article-footer span{
    font-size: 0.7rem;

}
.article-button{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 50px;
    /*border: 1px solid red;*/
}

.article-button a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article-picture{
    max-width: 48%;
}

.audi-center-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: 1px solid black;*/
}
.audi-center-button a{
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
    margin: 0 2%;
}
.audi-center-button a:hover{
    opacity: 0.8;
}

.footer{
    background-color: black;
    color: white;
}
.footer-center{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 4%;
    display: flex;
    flex-direction: column;

}
.social-footer{
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    justify-content: flex-end;
    /*border: 1px solid red;*/
    gap: 2%;
}

.columns-footer{
    display: flex;
    flex-direction: row;
}

.column-container{
    width: 25%;
}

.column-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.footer-center li{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10%;

}
.footer-center a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-style: normal;

}
.footer-center li:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: opacity .3s ease-in-out;
}

.copyright-footer{
    border-top: white 1px solid;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    margin: 5% 0%;
}

.copyright-footer li{
    display: inline;
    /*border: 1px solid red;*/
    font-size: 0.8rem;
    margin-left: 10px;
}

.copyright-footer ul{
    margin-right: 10%;
}
.globe-section{
    display: flex;
    align-self: center;
    align-items: center;
    /*border: 1px solid red;*/
}
.language-button{
    background: none;
    /*border: 1px solid red;*/
    color: white;
    font-size: 1.2rem;


}
.language-button:hover{
    cursor: pointer;
}
.text-info{
    font-size: 0.8rem;
}
@media only screen and (max-width: 1439px) {
    .inner_navbar_content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
    }
    .search-container{
        margin-left: 0;
    }
    .search-button{

        font-size: 0;
    }
    .navbar_button{
        display: none;
    }
    .collapsable-navbar{
        display: block;
    }
    .footbal-text h1{
        font-size: 4rem;
    }

    .footbal-text h3{
        display: none;
    }
    .footbal-button{
        display: none;
    }
    .headline-centered-div h2{
        font-size: 2.3rem;

    }

    .footbal-description-h3{
    /*   show it*/
        display: block;

    }
    .footbal-description .footbal-button{
        display: block;
        color: black;
        border: 1px solid black;
        background: none;
        padding: 1px 40px;
        font-size: 1.2rem;
        text-align: center;
        line-height: 2.7rem;
        text-decoration: none;
        margin-bottom: 2%;
    }
    .footbal-description .footbal-button:hover{
        cursor: pointer;
        filter: brightness(70%);
        transition: transform 1s;
    }
    .footbal-text{
        top: 33%;
    }
}

@media only screen and (max-width: 1024px){
    .article{
        flex-direction: column;
    }
    .article-text{
        width: 100%;
        margin-bottom: 5%;
    }
    .article-picture{
        max-width: 100%;
    }
    .footbal-text{
        top: 29%;
    }
}

@media only screen and (max-width: 768px){
    .footbal-spans{

    }
    .footbal-text h1{
        font-size: 1.5rem;
    }
    .headline-centered-div h2{
        font-size: 1.6rem;
    }
    .topics-container{
        flex-direction: column;
    }
    .topic{
        max-width: 100%;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 479px){
    .footbal-image{

    }
}